/* 
    Created on : Dec 20, 2023, 11:12:34 AM
    Author     : mohilmokaria
*/

html {
    font-family: Arial, sans-serif;
    padding: 2%;
}

hr{
    margin-right: 40%;
    margin-left: 40%;
}

#myMenu{
    margin-left: 4%;
    margin-right: 4%;
}

.mybox{
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.myinp{
    margin: 10px;
}

.messages_card{
    margin-top: 15px;
    margin-bottom: 15px;
}

.myPill{
    padding-left: 10px;
    padding-right: 10px;
}